.jumbotron {
    position: relative;
    background-size: cover;
    background: #654ea3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    z-index: -100;
}

.contents h1,
.contents p {
    color: #fff;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.particles {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }